
a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

header {
    height: 12vh;
    background-color: var(--color-nav-primary);

    .container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .brand {
        font-size: 1.5rem;
        font-weight: bold;
        
        padding: 0.3em 0.5em;
    }

    nav {
        .navlink {
            background-color: var(--color-nav-link-primary);
            padding: 0.5em 1em;
        }
    }


}


