$borderRadius: 0.3em;

$labelColor: rgb(0, 119, 0);
$optionColor: rgb(226, 219, 219);
$optionHoverColor: rgb(57, 187, 57);

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    margin: 0;
    border: none;

    &:hover, &:focus{
        border: none;
        outline: none;
    }
}



.dropdown {
    
    box-sizing: border-box;
    text-align: left;
    margin: 10em 1em;
    cursor: pointer;
    border-radius: 0.5em;
    width: 20em;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;

    pointer-events: none;

    position: relative;

    &:focus > &-label, &:hover > &-label {
        background-color: $optionHoverColor;
    } 
    &:focus > &-label {
        border-bottom: 3px solid blue;
    }

    &-label {
        pointer-events: all;

        background-color: $labelColor;
        color: var(--white-text);
        height: 100%;
        width: 100%;
        padding: 0.2em 1em;
        box-sizing: border-box;

        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;

        &.full {
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }

    }

    &-options {
        pointer-events: all;
        background-color: $optionColor;
        width: 100%;
        max-height: 50vh;
        margin-top: 0.3em;

        overflow-x: hidden;

        --scroll-bar-color: black;
        border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;

        position: absolute;
        top: 100%;

    }

    

    &-option {
        font-size: 2em;
        cursor: pointer;

        width: 100%;
        background-color: $optionColor;
        height: 1em;
        padding: 1em;

        display: flex;
        align-items: center;
        justify-content: center;

        

        -webkit-user-select: none; /* Safari, Chrome */
        -webkit-user-drag: none;
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE */
        user-select: none; /* CSS3 */

        transition-duration: 0.1s;

        &:hover, &:focus {
            background-color: $optionHoverColor;

        }



    }

}





