<button    class="dropdown"  href="#"
    (click)="handleClick($event)" >
    <h1 class="dropdown-label" [id]="ID_PREFIX + '-1'"
        [ngClass]="{'full': !dropdownIsOpen}"
    >
        {{ value || 'Error'}}
    </h1>
    <div class="dropdown-options" [hidden]="!dropdownIsOpen" >
        <button
        *ngFor="let opt of _options; let index= index; let last = last; let first = first;"
        [ngClass]=" {'first': first, 'last': last} " class="dropdown-option" [id]="opt.id"
        >
                {{opt.value}}
        </button>
    </div>

</button>