<!-- <div class="joke-form-container" *ngIf="!jokeError; else error">

    <div class="joke-container">
        <p class="joke-text" style="white-space: pre-line;" >
            {{ jokeString  || 'Loading...' }}
        </p>
        <span class="joke-category" *ngIf="jokeString != null" >{{joke.category }}
        </span>
        <share-button *ngIf="jokeString != null" shareButton="facebook" url="{{'https://jokeg.netlify.app/joke/' + joke.id}}">Share</share-button>
    </div>
    
    <button class="joke-button" *ngIf="jokeString != null"
        (click)="handleClick()"
    >
        {{joke === undefined ? 'Get' : 'Another'}} Joke
    </button>

</div>
<ng-template #error>
    <h3>
        {{jokeError.message}} {{jokeError.additionalInfo}}
    </h3>
</ng-template>
 -->

<main>
    <div class="container">
        <section class="content">
            <app-joke [joke]="joke"></app-joke>
            <button class="btn primary joke-another" [disabled]="isLoading" (click)="handleClick()">
                {{isLoading ? "Getting": "Another one"}}
            </button>
        </section>
    </div>
</main>


