<div class="html-main-container">
    <div class="no-footer">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
    <footer >
        <div class="container">
            <span><a class="joke-api-link" href="https://sv443.net/jokeapi/v2/" target="_blank">Joke API</a></span>

            <span class="footer-brand" >Joke Generator &copy; {{date}} </span>
            <span><a class="joke-api-link" href="https://sv443.net/jokeapi/v2/" target="_blank">Joke API</a></span>
        </div>
    </footer>
</div>