


<main>
    <section class="container">
        <div class="flex-center">
            <app-joke-filter-form (onFormSubmit)="handleSubmit($event)" (onUrlInit)="handleUrl($event)" ></app-joke-filter-form>
        </div>
        <div *ngIf="(joke | async) as j">
            <ol *ngIf="isMultipleJokes(j)">
                <li *ngFor="let _j of j.jokes">
                    {{_j | jokify}}
                    <br>    
                </li>
            </ol>
            <p *ngIf="!isMultipleJokes(j)">
                {{j | jokify}}
            </p>
        </div>
    </section>
</main>

