
<!-- <p *ngIf="joke">
    {{joke | async | json}}
</p> -->


<form [formGroup]="form" 
(ngSubmit)="onFormSubmit(form.value)"
>
    <div class="categories input-container"
    formArrayName="categories"
    >
        <label 
        *ngFor="let c of categories.controls; let i = index;"
        for="{{c.value.name}}"
        [formGroupName]="i"
        >
            <input type="checkbox" name="categories"  id={{c.value.name}} 
            formControlName="value"
            [attr.disabled]="(c.value.name != 'any' && isAnyChecked) || null "
            (change)="onCategoriesChange($event)"
            >
            {{c.value.name}} 
            {{c.value.value}}
        </label>
    </div>
    <input type="submit" value="Submit" >
</form>