/* You can add global styles to this file, and also import other style files */


:root {
    --color-background-primary: #2F2D2E;
    --color-background-seconday: #B6C2D9;
    --color-nav-primary: #D72483;
    --color-brand-primary: #FD3E81;
    --color-nav-link-primary: #0582CA;
    --color-joke-bg-primary: #016FB9;
    
    --color-text-primary: #ffffff;

    --color-button-primary: #FD3E81;

}

.container {
    width: 90%;
    margin: auto;

}

.btn {
    cursor: pointer;    
    border: none;
    padding: 0.5em;
    color: inherit;
    font-weight: 600;
    border-radius: 0.5em;
    &:hover {
        filter: saturate(1.5);
    }
    &:disabled {
        filter: grayscale(1);
    }
}



.btn.primary {
    background-color: var(--color-button-primary);
    font-weight: 700;

}

body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
}
