/* You can add global styles to this file, and also import other style files */
:root {
    --white-text: #f4f4f4;
    --brand-color: rgb(13, 92, 13);
    --brand-color-darker: rgb(6, 70, 6);
}

body {
    background-color: #f3f3f3;
}

* {
    margin: 0;
}
