/* You can add global styles to this file, and also import other style files */


:root {
    --color-background-primary: #2F2D2E;
    --color-background-secondary: #2a2929;
    
    --color-nav-primary: #1b191a;
    --color-nav-link-primary: #085e90;
    --color-joke-bg-primary: #064d7c;
    
    --color-text-primary: #ffffff;

    --color-button-primary: #D64550 ;

}

.container {
    width: 90%;
    margin: auto;

}

.btn {
    cursor: pointer;    
    border: none;
    padding: 0.5em;
    color: inherit;
    font-weight: 600;
    border-radius: 0.5em;
    &:hover {
        filter: saturate(1.5);
    }
    &:disabled {
        filter: grayscale(1);
    }
}

.flex {
    &-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-column {
        flex-direction: column;
    }
}




.btn.primary {
    background-color: var(--color-button-primary);
    font-weight: 700;

}

body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
}
